<!DOCTYPE html>

<html  lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="Lib/angular-material.min.css" rel="stylesheet" />
    <style>
        .raz div {
            max-width: 13em;
            min-height: 2em;
            margin-left: auto;
            margin-right: 1em;
        }
    </style>

</head>

<body ng-app="mainApp" ng-cloak>
    <div ng-controller="mainController">
        <md-toolbar md-colors="{background: 'indigo'}">
            <div layout="row">
                <div flex="30" class=" raz md-toolbar-tools">
                    <div style="margin-bottom:-15px;margin-right:55px"> <h2>Beet</h2></div>
                </div>
                <md-icon md-svg-src="img/icons/magnifier.svg"></md-icon>
                <md-card style="min-width:200px;height:30px; width:500px;margin-right:45px;margin-top:16px">
                    <md-input-container md-no-float class="md-block">
                        <input style="margin-top:-18px" ng-model="user.address2" placeholder="Поиск">
                    </md-input-container>
                </md-card>
                <div flex="70">
                </div>
            </div>
        </md-toolbar>

        <div layout="row">
            <div flex="30" class="raz" layout="column">
                <div layout="column" layout-sm="column">
                    <md-button style="max-height:0%" ng-click="btnLoadMyPage()" md-no-ink class="md-primary" target="_blank">
                        <md-icon md-svg-src="img/icons/home.svg"></md-icon>
                        Моя страница
                    </md-button>
                    <md-button style="max-height:0%" ng-click="btnLoadMessages()" md-no-ink class="md-primary" target="_blank">
                        <div style="margin-left:-10px">
                            <md-icon md-svg-src="img/icons/message.svg"></md-icon>
                            Сообщения
                        </div>
                    </md-button>
                    <md-button style="max-height:0%" ng-click="btnLoadFriend()" md-no-ink class="md-primary" target="_blank">
                        <div style="margin-left:-45px">
                            <md-icon md-svg-src="img/icons/friend.svg"></md-icon>
                            Друзья
                        </div>
                    </md-button>
                    <md-button style="max-height:0%" ng-click="btnLoadGroups()" md-no-ink class="md-primary" target="_blank">
                        <div style="margin-left:-45px">
                            <md-icon md-svg-src="img/icons/group.svg"></md-icon>
                            Группы
                        </div>
                    </md-button>
                    <md-button style="max-height:0%" ng-click="btnLoadPhotos()" md-no-ink class="md-primary" target="_blank">
                        <div style="margin-left:-10px">
                            <md-icon md-svg-src="img/icons/photo.svg"></md-icon>
                            Фотографии
                        </div>
                    </md-button>
                </div>
            </div>

            <div flex="70" style="max-width:50%">
                <ng-include src="activePage"> </ng-include>
            </div>

        </div>
    </div>



    <script src="Lib/angular.min.js"></script>
    <script src="Lib/angular-route.min.js"></script>
    <script src="Lib/angular-animate.min.js"></script>
    <script src="Lib/angular-aria.min.js"></script>
    <script src="Lib/angular-messages.min.js"></script>
    <script src="Lib/angular-material.min.js"></script>
    <script src="MainMMC.js"></script>
    <script src="../AppJS/ngFileSelect.js"></script>
    <script src="AppJS/ngApiService.js"></script>
</body>
</html>